/* Logo */

.aip\[logo\] {
  max-width: 200px;
}

/* Background */

.aip\[bg\] {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aip\[bg\] div {
  background-image: url('../img/bg_pattern.png');
  background-position: top left;
  background-size: auto;
  background-repeat: repeat;
  position: fixed !important;
  top: -20%;
  right: -20%;
  bottom: -20%;
  left: -20%;
  width: 100%;
  height: 100%;
}


.aip\[logo\] {
  display: block;
  align-self: flex-start;
  width: 35%;
}
@media (min-width: 1024px) {
  .aip\[logo\] {
      width: auto;
  }
}

/* Blocks */

.aip\[shadow-block\] {
  position: absolute !important;
  top: 1.5rem;
  right: 0;
  bottom: 0;
  left: 1.5rem;
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  transform: translate(0%, 0%) !important;
}

.aip\[shadow-block\] div {
  position: absolute !important;
  top: 50% !important;
  right: 0;
  bottom: 0;
  left: 50% !important;
  width: 100%;
  height: 0;
  box-shadow: 0px 0px 100px 100px rgb(35 35 35 / 35%);
  z-index: -1;
  background-color: rgb(255 255 255 / 0%);
}

/* Page titles */

.aip\[page-title\] {
  position: relative;
  width: 100%;
}
.aip\[page-title\] h1 {
  margin-bottom: -26px;
}
.aip\[page-title\] h2 {
  margin-bottom: -13px;
}

.aip\[search-box\] {
  display: none;;
  position: relative;
}
.aip\[search-box\] i {
  position: absolute;
  top: 14px;
  left: 0;
  color: rgba(0,0,0,.35);
}
.aip\[search-box\] input {
  outline: 0;
  background: none;
  background-color: transparent;
  width: 100%;
  padding: .75rem 1.5rem .75rem 2.5rem;
}
.aip\[search-box\] input:focus + i {
  color: #000;
}
.aip\[search-box\] input::placeholder {
  color: rgba(0,0,0,.35);
}



/* Block Link */

.aip\[block-link\] {
  outline: 0;
  background: none;
  box-shadow: none;
  display: block;
  transition: all .3s ease-in-out;
  transform-origin: top left;
}
.aip\[block-link\]:hover,
.aip\[block-link\]:focus {
  transform: scale(.99);
}
.aip\[block-link\]:focus h5,
.aip\[block-link\]:focus .h5 {
  box-shadow: none;
}

.aip\[block-link\] h4,
.aip\[block-link\] .h4 {
  box-shadow: inset 0 -4px #FFF, inset 0px -10px #c2e813;
}
.aip\[block-link\]:hover h4,
.aip\[block-link\]:hover .h4 {
  box-shadow: inset 0 -1px #FFF, inset 0px -20px #c2e813;
}





/* Articles */

.aip\[article\] {
  position: relative;
  background-color: rgba(255,255,255,.85);
}
.aip\[article\] :not(h1, h2, h3, h4, h5, h6) {
  text-align: justify;
}
.aip\[article\] h2 {
  margin-bottom: 2rem;
}
.aip\[article\] figure {
  width: 40%;
}
.aip\[block-link__shadow\] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: -1;
  transition: all .3s ease-in-out;
}

/* Partners */

.aip\[partner\] {
  display: flex;
  align-items: center;
  background: none;
  box-shadow: none;
  margin-bottom: .5rem;
  margin-right: 2rem;
}
.aip\[partner\]:hover {
  box-shadow: none;
}
.aip\[partner\] img {
  max-width: 8rem;
  max-height: 4rem;
  filter: grayscale(1);
  will-change: filter;
  transition: filter .3s ease-in-out;
}
.aip\[partner\]:hover img {
  filter: none;
}

/* Wordpress Editor */

.aip\[wp-editor\] h1,
.aip\[wp-editor\] h2,
.aip\[wp-editor\] h3,
.aip\[wp-editor\] h4,
.aip\[wp-editor\] h5,
.aip\[wp-editor\] h6 {
  margin: 0;
  font-weight: 900;
  line-height: normal;
}
.aip\[wp-editor\] h1 + h1,
.aip\[wp-editor\] h2 + h2,
.aip\[wp-editor\] h3 + h3,
.aip\[wp-editor\] h4 + h4,
.aip\[wp-editor\] h5 + h5,
.aip\[wp-editor\] h6 + h6 {
  margin-top: 1rem;
}
.aip\[wp-editor\] h1 {
  font-size: 32px;
}
.aip\[wp-editor\] h2 {
  font-size: 24px;
}
.aip\[wp-editor\] h3 {
  font-size: 20px;
}
.aip\[wp-editor\] h4 {
  font-size: 18px;
}
.aip\[wp-editor\] h5 {
  font-size: 14px;
}
.aip\[wp-editor\] h6 {
  font-size: 10px;
}
.aip\[wp-editor\] ul {
  list-style: disc;
  margin: 1rem;
  padding: 0;
}
.aip\[wp-editor\] figure {
  width: 100%;
}
.aip\[wp-editor\] .wp-block-gallery {
  margin: -1rem;
}
.aip\[wp-editor\] .wp-block-gallery ul {
  list-style: none;
}
