.bg-black-coffee {
  background-color: #3A2E39;
}
.bg-dark-slate-gray {
  background-color: #1E555C;
}
.bg-bitter-lemon {
  background-color: #C2E812;
}
.bg-cloud-98 {
  background-color: hsl(0 0% 98% / 1)
}
.bg-cloud-95 {
  background-color: hsl(0 0% 95% / 1)
}

.text-black-coffee {
  color: #3A2E39;
}
.text-dark-slate-gray {
  color: #1E555C;
}
.text-bitter-lemon {
  color: #C2E812;
}