h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Roboto', 'Arial', sans-serif;
}
h1, .h1 {
  font-size: 64px;
  font-weight: 900;
}
h2, .h2 {
  font-size: 32px;
  font-weight: 900;
}
h3, .h3 {
  font-size: 24px;
  font-weight: 900;
}
h4, .h4 {
  font-size: 20px;
  font-weight: 900;
}
h5, .h5 {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}
h6, .h6 {
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .05rem;
  opacity: .35;
}
@media (min-width: 640px) {
  .sm\:h1 {
    font-size: 64px;
  }
  .sm\:h2 {
    font-size: 32px;
  }
  .sm\:h3 {
    font-size: 24px;
  }
  .sm\:h4 {
    font-size: 20px;
  }
  .sm\:h5 {
    font-size: 16px;
  }
  .sm\:h6 {
    font-size: 10px;
  }
}

p {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.2rem;
  margin: 1rem 0;
}

a {
  display: inline;
  font-weight: 900;
  font-style: italic;
  background: repeating-linear-gradient( to bottom, transparent, transparent 11px, #c2e812 11px, #c2e812 14px );
}
a:hover {
  background: repeating-linear-gradient( to bottom, transparent, transparent 0px, #c2e812 0px, #c2e812 14px );
}
a.active {
  font-style: normal;
  pointer-events: none;
  background: none !important;
}

a h1,
a h2,
a h3, 
a h4,
a h5, 
a h6 {
  display: inline;
}

a h1, a .h1, a.h1,
h1 a, .h1 a {
  background: repeating-linear-gradient( to bottom, transparent, transparent 50px, #c2e812 50px, #c2e812 60px );
}
a:hover h1, a:hover .h1, a:hover.h1,
h1 a:hover, .h1 a:hover {
  background: repeating-linear-gradient( to bottom, transparent, transparent 0px, #c2e812 0px, #c2e812 60px );
}

a h3, a .h3, a.h3,
h3 a, .h3 a {
  font-weight: 900;
  font-style: italic;
  background: repeating-linear-gradient( to bottom, transparent, transparent 16px, #c2e812 16px, #c2e812 22px ); 
}
a:hover h3, a:hover .h3, a.h3:hover,
h3 a:hover, .h3 a:hover {
  background: repeating-linear-gradient( to bottom, transparent, transparent 0px, #c2e812 0px, #c2e812 14px );
}

a h4, a .h4, a.h4,
h4 a, .h4 a {
  background: repeating-linear-gradient( to bottom, transparent, transparent 14px, #c2e812 14px, #c2e812 19px );
}
a:hover h4, a:hover .h4, a.h4:hover,
h4 a:hover, .h4 a:hover {
  background: repeating-linear-gradient( to bottom, transparent, transparent 0px, #c2e812 0px, #c2e812 19px );
}